
<section id="home-page">
    <div id="timer" class="inactive">
        <p class="date">***</p>
        <p class="title">***</p>
        <p class="timer"><span class="hour">00 : 00</span><span class="second">00</span></p>
        <div class="timer-button">
            <div class="timer-data-result">
                <span class="capt-text">T</span><span id="today-result-hour">00 : 00</span><span id="today-result-second" class="result-second">12</span>
                <span class="capt-text">W</span><span id="week-result-hour">00 : 00</span><span id="week-result-second" class="result-second">30</span>
                <span class="capt-text">M</span><span id="month-result-hour">00 : 00</span><span id="month-result-second" class="result-second">50</span>
                <span class="capt-text">TOTAL</span><span id="total-result-hour">00 : 00</span><span id="total-result-second" class="result-second">55</span>
            </div>

            <a class="stop-bt" href="">

                <div class="text-stop">STOP</div>
                <div class="text-save">SAVE</div>
            </a>




        </div>
    </div>

    <div id="timeline">
        <div class="wrapper">

            <!-- sub project -->
            <div id="sub-project" class="project">

                <!-- current work-->

                <% if(doingSubData){
                    var timelineThumbnail = doingSubData.timelineThumbnail;

                    if( timelineThumbnail == "null"){
                        timelineThumbnail = "timeline-null2.jpg"
                    }
                %>
                <div class="currentWork work" id = "work-<%= doingSubData.objectId %>">
                    <div class="pic">
                        <img src="images/<%= timelineThumbnail %>" alt=""/>
                    </div>

                    <div class="description">
                        <div class="title"><%= doingSubData.name %></div>
                        <div class="button-list">
                            <a class="button detail-button" href="">DETAIL</a>
                            <a class="button start-button" href="<%= doingSubData.objectId %>">START</a>
                        </div>
                    </div>
                </div>

                <%}%>

                <!-- current work-->

                <!-- past works-->
                <% if( didSubData.length > 0 ){
                    for(var i in didSubData){
                        var timelineThumbnail = didSubData[i].timelineThumbnail;

                        if( timelineThumbnail == "null"){
                            timelineThumbnail = "timeline-null2.jpg"
                        }
                %>

                <div class="pastWork work" id = "work-<%= didSubData[i].objectId %>">
                    <div class="pic">
                        <img src="images/<%= timelineThumbnail %>" alt=""/>
                    </div>

                    <div class="description">
                        <div class="title"><%= didSubData[i].name %></div>
                        <div class="button-list">
                            <a class="button detail-button" href="">DETAIL</a>
                        </div>
                    </div>
                </div>

                <% }} %>
                <!-- past works-->

            </div>



            <div class="line-graphic">
                <div class="main-line"></div>
                <div class="circle"></div>

                <% if( didMainData.length > 0 ){ for(var i in didMainData){ %>
                <div class="circle" id="circle-<%= didMainData[i].objectId %>"></div>
                <%}}%>

                <% if( didSubData.length > 0 ){ for(var i in didSubData){ %>
                <div class="rect" id="rect-<%= didSubData[i].objectId %>"></div>
                <%}}%>

                <div class="date">
                    <%= currentMonth %> / <%= currentYear %>
                </div>
            </div>

            <div id="main-project" class="project">

                <!-- current work -->
                <% if(doingMainData){
                    var timelineThumbnail = doingMainData.timelineThumbnail;
                    if( timelineThumbnail == "null"){
                        timelineThumbnail = "timeline-null2.jpg"
                    }
                %>
                <div class="currentWork work" id="work-<%= doingMainData.objectId %>">
                    <div class="pic">
                        <img src="images/<%= timelineThumbnail %>" alt=""/>
                    </div>

                    <div class="description">
                        <div class="title"><%= doingMainData.name %></div>
                        <div class="button-list">
                            <a class="button detail-button" href="">DETAIL</a>
                            <a class="button start-button" href="<%= doingMainData.objectId %>">START</a>
                        </div>
                    </div>
                </div>

                <% }  %>
                <!-- current work -->

                <!-- past work -->
                <%
                    if( didMainData.length > 0 ){
                      for(var i in didMainData){
                        var timelineThumbnail = didMainData[i].timelineThumbnail;

                        if( timelineThumbnail == "null"){
                            timelineThumbnail = "timeline-null2.jpg"
                        }
                %>

                <div class="pastWork work" id="work-<%= didMainData[i].objectId %>">
                    <div class="pic">
                        <img src="images/<%= timelineThumbnail %>" alt=""/>
                    </div>

                    <div class="description">
                        <div class="title"><%= didMainData[i].name %></div>
                        <div class="button-list">
                            <a class="button detail-button" href="">DETAIL</a>
                        </div>
                    </div>
                </div>

                <% }} %>
                <!-- past work -->


            </div>


        </div>
    </div>


</section>
